

<% if(success && success.length){ %>
  <div class="alert  alert-success alert-dismissible fade show col-6   offset-4 clear-left position-absolute" role="alert" style="top: 20px; left:10px;  z-index: 1000;">
  
    <%= success %> <!-- Display the success message -->
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% } %>

<% if(error && error.length){ %>
  <div class="alert  alert-danger alert-dismissible fade show col-6   offset-4 position-absolute" role="alert" style="top: 20px; left:10px;  z-index: 1000;">

    <%= error %> <!-- Display the error message -->
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% } %>


