<%- include('../includes/navbar.ejs') %>
  <!-- about us page start -->
   
   <link rel="stylesheet" href="/css/about.css">
  <!-- 1content -->
  <div class="containerr">
    <div class="flex-2">
      <div class="contatentt">
        <h1>Who we are </h1>
        <h2>Your Trusted Partner for Electrical Repairs & Installations </h2>
        <p>Tech Fixer was founded with the vision of making electrical services reliable, efficient, and accessible.
          Whether you need wiring solutions, appliance repairs, lighting installations, or electrical maintenance, we
          connect you with skilled professionals to ensure safety and quality service. Our commitment is to provide
          seamless, hassle-free electrical solutions for homes and businesses."

          Let me know if you need any modifications! ⚡🔧 </p>
        <a href="/user/service">Book now</a>
      </div>
      <div class="imagea">
        <img src="/images/electrician logo.png">

      </div>
    </div>
  </div>
  <!-- 1content -->
  <!-- 2content -->
  <section class="protofolio" id="protofolio">
    <h2 class="heading">Our Gallary</h2>
    <div class="portfolio-container">
      <div class="portfolio-box">
        <img src="/images/switchbox.jpg">
        <div class="portfolio-layer">
          <h4>Experience</h4>
          <p>With years of experience in switch box solutions, I ensure reliable, efficient, and safe electrical
            services for every client !</p>

        </div>
      </div>


      <div class="portfolio-box">
        <img src="/images/electrician3.jpg">
        <div class="portfolio-layer">
          <h4>Serviceman</h4>
          <p>With years of hands-on experience in electronic repairs and installations, I ensure reliable, efficient,
            and safe solutions for all your needs.</p>


        </div>
      </div>


      <div class="portfolio-box">
        <img src="/images/light.jpg">
        <div class="portfolio-layer">
          <h4>Installation Specialist</h4>
          <p>Expert in lighting solutions—repairing, installing, and optimizing for brightness, efficiency, and safety.
          </p>

        </div>
      </div>

      <div class="portfolio-box">
        <img src="/images/submerter.jpg">
        <div class="portfolio-layer">
          <h4>Expert in Submeter</h4>
          <p>Providing expert solutions for MSC submeter installation, repair, and maintenance—ensuring accuracy,
            efficiency, and reliability in every service.</p>


        </div>
      </div>

      <div class="portfolio-box">
        <img src="/images/fannn.jpg">
        <div class="portfolio-layer">
          <h4>Expert in fan</h4>
          <p>Expert in fan installation, repair, and maintenance—ensuring smooth operation, efficiency, and lasting
            performance.</p>

        </div>
      </div>

      <div class="portfolio-box">
        <img src="/images/appilance.jpg">
        <div class="portfolio-layer">
          <h4>Appliance Technician</h4>
          <p>Reliable appliance repair, installation, and maintenance—ensuring efficiency, durability, and top
            performance for all your electrical needs </p>


        </div>
      </div>
    </div>
    </div>
  </section>
  <!-- galary -->

  <!-- vision -->
  <div class="wrapper">
    <div class="row">
      <div class="image-secation">
        <img src="/images/logop.png">
      </div>
      <div class="contents">
        <h1>Our Vision</h1>
        <h2> Our Serivice</h2>
        <p>At Tech Fixer, our vision is to become the most trusted and innovative electrical service provider, delivering safe, reliable, and efficient solutions for homes and businesses. We are committed to enhancing lives by ensuring uninterrupted power, high-quality workmanship, and exceptional customer service.

          We strive to set new industry standards through cutting-edge technology, skilled professionals, and a customer-first approach. Our goal is to empower communities by making electrical services more accessible, affordable, and sustainable.
          
          With a focus on safety, efficiency, and excellence, Tech Fixer is dedicated to keeping your world powered, bright, and secure.</p>
      </div>
    </div>
  </div>



  <!-- ourmission -->
  <section class="heor">
    <div class="heading">
      <h1>Our Mission</h1>
    </div>
    <div class="contaainer">
      <div class="hro-content">
        <h2>welcom to our website</h2>
        <p>At Tech Fixer, our mission is to deliver reliable, safe, and innovative electrical solutions that empower our community and drive efficiency in every project. We are dedicated to upholding the highest standards of service, leveraging cutting-edge technology, and fostering a culture of continuous improvement. By prioritizing safety, quality, and customer satisfaction, we strive to be the trusted partner for all electrical needs—ensuring every installation, repair, and upgrade contributes to a safer and more connected future.

        </p>
        <button class="cta-button"><a href=""> More</a></button>
      </div>
      <div class="hero-image">
        <img src="/images/serivice2.jpg">
      </div>
    </div>
  </section>
<!-- ourmission  over-->


<%- include('../includes/footer.ejs') %>
   



  
  
  
  <!-- vision -->
</body>

</html>