<%- include('../includes/navbar.ejs') %>
    <link rel="stylesheet" href="/css/blog.css">


    <!-- navbar -->

    <div id="roling">
        <div>
            <div>
                <a href="">
                    <img src="/images/repairman.jpg" alt="girl">
                    <p>Bulb <span>Services</span></p>
                    <p>Professional installation of LED, CFL, or incandescent bulbs for your home or office.</p>
                </a>
            </div>
            <div>
                <a href=""><img src="/images/top.jpg" alt="">
                    <p>MCB<span> services</span></p>
                    <p>Our professional installation services cover both the Main Switchboard (MSB) and individual
                        submeters for accurate measurement of electricity consumption across multiple units or areas.
                    </p>
                </a>
            </div>
            <div>
                <a href="">
                    <img src="/images/top3.jpg" alt="">
                    <p>Swtich<span>Bord </span></p>
                    <p>we specialize in providing professional Bord Switch and submeter installation services to ensure
                        precise and efficient electricity consumption management across apartments,.</p>
                </a>
            </div>
            <div>
                <a href="">
                    <img src="/images/topgroup.jpg" alt="">
                    <p>INSIDE TECHFIXER <span>COMPANY</span></p>
                    <p>Our team is fully licensed, insured, and highly trained to handle all types of electrical
                        installations with the utmost care.</p>
                </a>
            </div>
        </div>
    </div>

    <div id="roling" id="roling2">
        <div>
            <div>
                <a href="">
                    <img src="/images/lightingInstallation.jpg" alt="girl">
                    <p> Lighting <span>Services</span></p>
                    <p>Professional installation of LED, CFL, or incandescent bulbs for your home or office.</p>
                </a>
            </div>
            <div>
                <a href=""><img src="/images/electset.jpg" alt="">
                    <p>switch <span> services</span></p>
                    <p>At Tech Fixer, we specialize in switch repair and installation, ensuring safe, efficient, and
                        long-lasting electrical solutions for homes and businesses..</p>
                </a>
            </div>
            <div>
                <a href="">
                    <img src="/images/problem.jpg" alt="">
                    <p> Wiring <span>Solution</span></p>
                    <p>At Tech Fixer, we provide safe, efficient, and high-quality wiring solutions for residential,
                        commercial, and industrial spaces..</p>
                </a>
            </div>
            <div>
                <a href="">
                    <img src="/images/fan.jpg" alt="">
                    <p>Fan <span>Repair</span></p>
                    <p>At Tech Fixer, we provide professional fan installation and repair services to keep your home and
                        office cool and comfortable. </p>
                </a>
            </div>
        </div>
    </div>



    <%- include('../includes/footer.ejs') %>



        </body>

        </html>